.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*resize the hue bar*/
.hue-horizontal > div:nth-child(2) > div:nth-child(1) {
    height: 40px !important;
    width: 40px !important;
}

.hue-horizontal > div:nth-child(2) > div:nth-child(1):hover{
    cursor: grab;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.sidebar {
  height: 100vh;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282c34;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: black;
  overflow-x: hidden;
}

td.sidebar {
    padding: 20px;
    padding-bottom: 20px;
}

img.sidebar {
    width: 75%;
    margin-left: 20px;
    margin-top: 20px;
}

#root {
  margin-left: 50px;
}

.menuIcon {
    color: "white" !important; 
    font-size: "40pt" !important;
}
